<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicplatform.mapper.UserMapper">

    <select id="selectById" resultType="com.musicplatform.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="com.musicplatform.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, nickname)
        VALUES (#{username}, #{password}, #{nickname})
    </insert>

    <update id="update">
        UPDATE users
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
